@import 'components/mini_scss_framework.scss';


form.edit {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type=text], input[type=date], input[type=password], input[type=email]{
        border: 1px solid #ccc!important;
        padding: 8px;
        width: 100%;
    }

    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 60%;
    }
      
    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
    }
      
      table tr:nth-child(even){background-color: #f2f2f2;}
      table tr:hover {background-color: #ddd;}
      
      table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
      table caption{
          padding-top: 12px;
          padding-bottom: 12px;
          background-color: #4CAF50;
          color: white;
          text-transform: uppercase;
          font-weight: bold;
      }
}

